@model lab3.Models.Student
@{
ViewData["Title"] = "Student Registration";
}
<h2>Student Registration</h2>
<form action="" method="post">
@Html.ValidationSummary()
<div class="mb-3">
<label asp-for="StudentId"></label>
<input type="text" asp-for="StudentId" class="form-control" />
<span asp-validation-for="StudentId" class="text-danger"></span>
</div>
	<div class="mb-3">
		<label asp-for="Name"></label>
		<input type="text" asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Email"></label>
		<input type="text" asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="Age"></label>
		<input type="number" asp-for="Age" class="form-control" />
		<span asp-validation-for="Age" class="text-danger"></span>
	</div>
	<div class="mb-3">
		<label asp-for="GPA"></label>
		<input type="text" asp-for="GPA" class="form-control" />
		<span asp-validation-for="GPA" class="text-danger"></span>
	</div>
	<div>
		<button class="btn btn-info" type="submit">Register</button>
	</div>
</form>